<h1>Welcome!</h1>

<div class="play-container">
  <p>You've clicked <span (click)="countClick()">this</span> {{ clickCounter }} times</p>
</div>

<div class="play-container">
  <p>
    <input type="text" [(ngModel)]="name" />
    <br />
    <strong>You said: </strong> {{ name }}
  </p>
</div>

<div class="play-container" [style.background-color]="clickCounter > 4 ? 'green' : 'red'">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter is greater than 4</p>
  </ng-template>
  <ng-template #none>
    <p>The click counter is <strong>NOT</strong> greater than 4</p>
  </ng-template>
</div>

<div
  class="play-container"
  [ngStyle]="{
    'background-color': clickCounter > 4 ? 'yellow' : 'blue',
    border: clickCounter > 4 ? '4px solid black' : none
  }"
>
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter is greater than 4</p>
  </ng-template>
  <ng-template #none>
    <p>The click counter is <strong>NOT</strong> greater than 4</p>
  </ng-template>
</div>

<div class="play-container" [class.active]="clickCounter > 4">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter is greater than 4</p>
  </ng-template>
  <ng-template #none>
    <p>The click counter is <strong>NOT</strong> greater than 4</p>
  </ng-template>
</div>

<div class="play-container" [ngClass]="setClasses()">
  <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
    <p>The click counter is greater than 4</p>
  </ng-template>
  <ng-template #none>
    <p>The click counter is <strong>NOT</strong> greater than 4</p>
  </ng-template>
</div>
